
docs copy new/.DS_Store
docs copy new/1.png
docs copy new/10.png
docs copy new/11.png
docs copy new/11006.html
docs copy new/12.png
docs copy new/13.png
docs copy new/14.0.png
docs copy new/14.1.png
docs copy new/14.2.png
docs copy new/14.3.png
docs copy new/14.4.png
docs copy new/14.5.png
